body {
  background: linear-gradient(rgba(0, 0, 0, 0.4), rgba(0, 0, 0, 0.4)),
    url("../images/background.jpg") no-repeat center fixed;
  background-size: cover;
  min-height: 800px;
}

h2 {
  color: white;
  filter: drop-shadow(2px 2px 5px grey);
}

.welcome {
  color: white;
}

form {
  padding-top: 20px;
}

hr:not([size]) {
  color: white;
  height: 5px;
}

.row.no-gutters {
  margin-right: 0;
  margin-left: 0;
}

.row.no-gutters > [class^="col-"],
.row.no-gutters > [class*=" col-"] {
  padding-right: 0;
  padding-left: 0;
}

.go-button {
  color: white;
}

footer {
  min-height: 100px;
  position: fixed;
  left: 0px;
  bottom: 0px;
  height: 30px;
  width: 100%;
}

.card-footer {
  background-color: #78a9dd;
}

.col-10 {
  padding-top: 20px;
  padding-left: 40px;
  padding-right: 10px;
  height: 500px;
  width: 900px;
  margin-top: -9px;
}

.h7 {
  color: #78a9dd;
}

.resorts {
  align-items: center;
}

.card-body {
  margin-top: -9px;
  text-align: center;
}

.card-title {
  text-align: center;
  padding-bottom: 8px;
}

.btn-sm {
  color: White;
  background-color: #78a9dd;
}

.fa {
  color: #78a9dd;
}

.footer_logo {
  position: absolute;
  bottom: 0;
  right: 0;
}

.icon-style {
  width: 25px;
  padding: 20px;
  font-size: 30px;
  text-align: center;
  text-decoration: none;
  color: white;
  border-radius: 50%;
}

.custom-icon {
  height: 90px;
  width: auto;
}
.icon-label {
  font-size: 20px;
  color: #78a9dd;
  margin-left: 5px;
  margin-top: 10px;
}

.socialmedia {
  padding-top: 170px;
  min-width: 400px;
}
tbody {
  color: white;
  margin: 30px;
}

.center {
  margin-right: auto;
  margin-left: auto;
}
td {
  padding-right: 70px;
}
